@model AccountVM
@{
    ViewData["Title"] = "ResetPassword";
}

<section>
    <div class="login">
        <div class="col-lg-12">
            <div class="path">
                <a class="d-inline" asp-controller="home" asp-action="index">Home</a>
                /

                <p class="d-inline blog-name">Reset Password</p>
            </div>
        </div>
        <div class="containerr">
            <div class="row">
                <div class="col-xl-10 col-lg-12 col-md-9">

                    <div class="p-5">
                        <div class="">
                            <h3 class=" mb-5">Forgot Password</h3>
                        </div>

                        <form method="post">
                            <input asp-for="Password" placeholder="Password"><br />
                            <div style="display:none">
                                <input asp-for="Token" class="form-control" />
                                <input asp-for="AppUser.Email" class="form-control" />
                            </div>
                            <input asp-for="ConfirmPassword" placeholder="Confirm password"><br />
                            <span class="mt-2 text text-danger" asp-validation-for="ConfirmPassword"></span>






                            <button type="submit" class="default-btn">Reset password!</button>

                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


