@model RegstrVM
@{
    ViewData["Title"] = "Register";
}






<section>
    <div class="register">
        <div class="col-lg-12">
            <div class="path">
                <a class="d-inline" asp-controller="home" asp-action="index">Home</a>
                /

                <p class="d-inline blog-name">Register</p>
            </div>
        </div>
        <div class="containerr">
            <div class="row">
                <div class="col-xl-10 col-lg-12 col-md-9">

                    <div class="p-5">
                        <div class="">
                            <h3 class=" mb-5">Create an account</h3>
                        </div>
                        <form method="post" enctype="multipart/form-data" class="user">
                            <div asp-validation-summary="ModelOnly" class="text text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Name" class="">Name<span>*</span></label>
                                <input asp-for="Name" class="form-control form-control-user" placeholder="Name">
                                <span asp-validation-for="Name" class="text text-danger"></span>

                            </div>

                            <div class="form-group">
                                <label asp-for="Username" class="">User Name<span>*</span></label>
                                <input asp-for="Username" class="form-control form-control-user" placeholder="User Name">
                                <span asp-validation-for="Username" class="text text-danger"></span>

                            </div>

                            <div class="form-group">
                                <label asp-for="Email" class="">Email <span>*</span></label>
                                <input asp-for="Email" class="form-control form-control-user" placeholder="Email">
                                <span asp-validation-for="Email" class="text text-danger"></span>

                            </div>
                            <div class="form-group">
                                <label asp-for="Job" class="">Job<span></span></label>
                                <input asp-for="Job" class="form-control form-control-user" placeholder="Job">


                            </div>

                            <div class="form-group">
                                <label asp-for="Country" class="">Country<span></span></label>
                                <input asp-for="Country" class="form-control form-control-user" placeholder="Country">


                            </div>

                            <div class="form-group">
                                <label asp-for="Phone" class="">Phone <span></span></label>
                                <input asp-for="Phone" class="form-control form-control-user" placeholder="Phone">


                            </div>
                            <div class="form-group">
                                <label asp-for="Adress" class="">Adress <span></span></label>
                                <input asp-for="Adress" class="form-control form-control-user" placeholder="Adress">


                            </div>
                            <div class="form-group">
                                <label asp-for="UserImageFile" class="">Image<span></span></label>
                                <input asp-for="UserImageFile" class="form-control form-control-user" placeholder="Enter Image">
                                <span asp-validation-for="UserImageFile" class="text text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Password" class="">Paswoord<span>*</span></label>
                                <input asp-for="Password" class="form-control form-control-user" placeholder="Password">


                            </div>

                            <div class="form-group">
                                <label asp-for="ConfirmPassword" class="">Confirm Paswoord<span>*</span></label>
                                <input asp-for="ConfirmPassword" class="form-control form-control-user" placeholder="Confirm Password">
                            </div>

                            <div class="form-check">
                                <input asp-for="TermsAndConditions" class="form-check-input" required>
                                <label asp-for="TermsAndConditions" class="form-check-label">I agree and accept the </label> <a>terms and conditions</a>
                                <span class="text text-warning" asp-validation-for="TermsAndConditions"></span>

                            </div>
                            <div class="btn-create">
                                <button class="button submit py-4 fw-bold" type="submit">CREATE NEW ACCOUNT</button>
                            </div>
                        </form>

                     
                        <div class="btn-login">
                            <a class="small" asp-controller="account" asp-action="login"> <button class="button submit py-4 fw-bold" type="submit">LOGIN</button> </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

