@model RegstrVM
@{
    ViewData["Title"] = "Register";
}



<section>
    <div class="register">
        <div class="col-lg-12">
            <div class="path">
                <a class="d-inline" asp-controller="home" asp-action="index">Home</a>
                /

                <p class="d-inline blog-name">Register</p>
            </div>
        </div>
        <div class="containerr">
            <div class="row">
                <div class="col-xl-10 col-lg-12 col-md-9">

                    <div class="p-5">
                        <div class="">
                            <h3 class=" mb-5">Create an account</h3>
                        </div>
                        <form method="post" class="user">
                            <div asp-validation-summary="ModelOnly" class="text text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Name" class="">Name<span>*</span></label>
                                <input asp-for="Name" class="form-control form-control-user"
                                       placeholder="Name">
                                <span asp-validation-for="Name" class="text text-danger"></span>

                            </div>

                            <div class="form-group">
                                <label asp-for="Username" class="">User Name<span>*</span></label>
                                <input asp-for="Username" class="form-control form-control-user"
                                       placeholder="User Name">
                                <span asp-validation-for="Username" class="text text-danger"></span>

                            </div>
                            <div class="form-group">
                                <label asp-for="Email" class="">Email <span>*</span></label>
                                <input asp-for="Email" class="form-control form-control-user"
                                       aria-describedby="emailHelp"
                                       placeholder="Email">
                                <span asp-validation-for="Email" class="text text-danger"></span>

                            </div>
                            <div class="form-group">
                                <label asp-for="Password" class="">Paswoord<span>*</span></label>
                                <input asp-for="Password" class="form-control form-control-user"
                                       placeholder="Password">
                                <span asp-validation-for="Password" class="text text-danger"></span>

                            </div>

                            <div class="form-group">
                                <label asp-for="ConfirmPassword" class="">Confirm Paswoord<span>*</span></label>
                                <input asp-for="ConfirmPassword" class="form-control form-control-user"
                                       placeholder="Confirm Password">
                                <span asp-validation-for="ConfirmPassword" class="text text-danger"></span>

                            </div>

                            <div class="login-toggle-btn">
                                <input asp-for="TermsAndConditions">
                                <label asp-for="TermsAndConditions" for="remember">I agree with terms</label>
                                <span asp-validation-for="TermsAndConditions" class="text text-danger"></span>


                            </div>
                            <div class="btn-create">
                                <button class="button submit py-4 fw-bold" type="submit">CREATE NEW ACCOUNT</button>
                            </div>
                        </form>

                     


                        <div class="btn-login">
                            <a class="small" asp-controller="account" asp-action="login"> <button class="button submit py-4 fw-bold" type="submit">LOGIN</button> </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
