
@{
    ViewData["Title"] = "Index";
}

<section id="head-wish">
    <div class="container">

        <div class="col-lg-12 pop">
            <h2>Product</h2>
            <h2 class="bb">Name</h2>
            <h2 class="aa">Count</h2>
            <h2>Price</h2>
        </div>
    </div>
</section>
<section id="wish">
    <div class="container">
        <div class="row">
            <div id="wish-list">

            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="" id="calcu">

        </div>

    </div>
</section>

