
.register{
    margin-top: 5% !important;
    margin-bottom: 5% !important;
    width: 50%;
    margin: auto;
    input{
        padding: 24px 10px;
    }
    .path{
        
        padding-bottom: 20px;
        a{
            transition: .6s;
            text-decoration: none !important;
            color: darkgray;
        }
        a:hover{
            color: black;
        }
    }
    .form-group{
        color: #727272;
        span{
            color:red;
        }
        a{
            text-decoration: none;
        color: #727272;

        }
    }
    .btn-create{
        border-bottom: 1px solid rgb(207, 207, 207);
        padding-bottom: 20px;
        .button{
            background-color: #0A2748;
            color: aliceblue;
            width: 100%;
            border: none;
            border-radius: 4px;
    
            text-transform: capitalize;
            -webkit-transition: all 0.5s ease 0s;
            -o-transition: all 0.5s ease 0s;
            transition: all 0.5s ease 0s;
            
        }
        .button:hover{
            background-color: #C6452C;
        }
    }
    
    
    
    .btn-login{
        padding-top: 20px;
        .button{
            background-color: white;
            color: #0A2748;
            width: 100%;
            border: 1px solid #0A2748;
            border-radius: 4px;
    
            text-transform: capitalize;
            -webkit-transition: all 0.5s ease 0s;
            -o-transition: all 0.5s ease 0s;
            transition: all 0.5s ease 0s;
            
        }
        .button:hover{
            background-color: #C6452C;
            color: white;
            border: 1px solid #C6452C;
        }
    }
}