@model IEnumerable<SearchVM>
@{ Layout = null; }



@foreach (SearchVM item in Model)
{
<li style="margin-bottom:13px">
    <div style="align-items:center;display:flex;">
        <a style="width:40%; " asp-controller="blog" asp-action="blogdetail" asp-route-id="@item.Id">
            <img src="~/assets/img/Blog/@item.Image" alt="Alternate Text" />
        </a>
        <a style="font-size:11px;padding-left:30px" asp-controller="blog" asp-action="blogdetail" asp-route-id="@item.Id">@item.Name</a>
    </div>
</li>}
