
@{
    ViewData["Title"] = "Index";
}

<div class="back-to-top" id="back-to-top"><a href="#"><i class="fas fa-chevron-up"></i></a></div>

<section class="overflow-hidden">
    <div class="row">
        <div class="slider">
            <div class="card">
                <div class="text">
                    <span>LET'S GO OUTSIDE</span>
                    <h3 class="slider-tittle"> PARROT </h3>
                    <p class="slider-desc"> All the lorem ipsum generators on the Internet tend to repeat predefined chunks as necessary.</p>
                </div>

                <div class="img">
                    <img src="~/assets/img/Slider/slider1.jpg" alt="">
                </div>
            </div>
            <div class="card">
                <div class="text">
                    <span>HOME ACCESSORIES</span>
                    <h3 class="slider-tittle"> MINIMAL </h3>
                    <p class="slider-desc"> All the lorem ipsum generators on the Internet tend to repeat predefined chunks as necessary.</p>
                </div>

                <div class="img">
                    <img src="~/assets/img/Slider/slider1.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="featured ">
        <div class="container">
            <div class="col-lg-12">
                <div class="all text-center">
                    <h5 class="fw-bold">EXPLORE THE CATEGORIES</h5>
                    <h3 class="fw-bold">FEATURED CATEGORIES</h3>
                    <p>Commodo sociosqu venenatis cras dolor sagittis integer luctus maecenas.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="containerr">
        <div class="category-slider">
            <div class="card">
                <div class="img">
                    <a href="/shop-list.html">
                        <img src="~/assets/img/Category/xcate1-1-1.jpg.pagespeed.ic.Vj1U7xz0Fk.jpg" class="card-img-top" alt="">
                    </a>
                </div>
                <div class="card-body">
                    <a href="shop-list.html">
                        <p class="card-text">Sectional Sofas</p>
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="img">
                    <a href="shop-list.html">
                        <img src="~/assets/img/Category/xcate1-1-4.jpg.pagespeed.ic.f5zZuI6PpU.jpg" class="card-img-top" alt="">
                    </a>
                </div>
                <div class="card-body">
                    <a href="/shop-list.html">
                        <p class="card-text">Tables & Chair</p>
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="img">
                    <a href="/shop-list.html">
                        <img src="~/assets/img/Category/xcate1_1.jpg.pagespeed.ic.uEf1UdIBny.jpg" class="card-img-top" alt="">
                    </a>
                </div>
                <div class="card-body">
                    <a href="/shop-list.html">
                        <p class="card-text">Outdoor & Gift</p>
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="img">
                    <a href="/shop-list.html">
                        <img src="~/assets/img/Category/xcate1_2.jpg.pagespeed.ic.HrZw2meZ5V.jpg" class="card-img-top" alt="">
                    </a>
                </div>
                <div class="card-body">
                    <a href="shop-list.html">
                        <p class="card-text">Dining & Kitchen</p>
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="img">
                    <a href="shop-list.html">
                        <img src="~/assets/img/Category/xcate1_4.jpg.pagespeed.ic.1CgyAGLoT9.jpg" class="card-img-top" alt="">
                    </a>
                </div>
                <div class="card-body">
                    <a href="shop-list.html">
                        <p class="card-text">Decor & Lighting</p>
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="img">
                    <a href="shop-list.html">
                        <img src="~/assets/img/Category/xcate1_1.jpg.pagespeed.ic.uEf1UdIBny.jpg" class="card-img-top" alt="">
                    </a>
                </div>
                <div class="card-body">
                    <a href="shop-list.html">
                        <p class="card-text">Accessories</p>
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="img">
                    <a href="shop-list.html">
                        <img src="~/assets/img/Category/xcate1_2.jpg.pagespeed.ic.HrZw2meZ5V.jpg" class="card-img-top" alt="">
                    </a>
                </div>
                <div class="card-body">
                    <a href="shop-list.html">
                        <p class="card-text">Decor</p>
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="img">
                    <a href="shop-list.html">
                        <img src="~/assets/img/Category/xcate1-1-1.jpg.pagespeed.ic.Vj1U7xz0Fk.jpg" class="card-img-top" alt="">
                    </a>
                </div>
                <div class="card-body">
                    <a href="shop-list.html">
                        <p class="card-text">Office Furniture</p>
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="img">
                    <a href="/shop-list.html">
                        <img src="~/assets/img/Category/xcate1_2.jpg.pagespeed.ic.HrZw2meZ5V.jpg" class="card-img-top" alt="">
                    </a>
                </div>
                <div class="card-body">
                    <a href="/shop-detail.html">
                        <p class="card-text">Sectional Sofas</p>
                    </a>
                </div>
            </div>


        </div>
    </div>
</section>

<section>
    <div class="selling">
        <div class="container">
            <div class="col-lg-12">
                <div class="all text-center">
                    <h5 class="fw-bold">EXPLORE THE LOOKBOOK</h5>
                    <h3 class="fw-bold">TOP SELLING PRODUCTS</h3>
                    <p>Commodo sociosqu venenatis cras dolor sagittis integer luctus maecenas.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="selling-product  overflow-hidden">
        <div class="containerr">
            <div class="row">

                <div class="col-lg-3 col-6 col-sm-4">
                    <div class="card" id="1">
                        <div class="product-image">
                            <a href="shop-detail.html">
                                <img class="first-image"src="~/assets/img/Product/4.jpg" alt="product">
                                <img class="second-image"src="~/assets/img/Product/4-1.jpg" alt="product">
                            </a>
                            <ul class="product-meta">
                                <li><a class="btn_add"><i class="fa-solid fa-store"></i></a></li>
                                <li><a href="/shop-detail.html"><i class="fa-solid fa-magnifying-glass"></i></a></li>
                                <li><a class="btnw_add"><i class="fa-regular fa-heart"></i></a></li>
                            </ul>
                        </div>
                        <div class="product-content">
                            <h4 class="product-title"><a href="shop-detail.html">Upholstered Simple</a></h4>
                            <div class="product-price">
                                <span class="regular-price ">€65.00</span>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-6 col-sm-4">
                    <div class="card" id="2">
                        <div class="product-image">
                            <a href="shop-detail.html">
                                <img class="first-image"src="~/assets/img/Product/12.jpg" alt="product">
                                <img class="second-image"src="~/assets/img/Product/12-1.jpg" alt="product">
                            </a>
                            <ul class="product-meta">
                                <li><a class="btn_add"><i class="fa-solid fa-store"></i></a></li>
                                <li><a href="/shop-detail.html"><i class="fa-solid fa-magnifying-glass"></i></a></li>
                                <li><a class="btnw_add"><i class="fa-regular fa-heart"></i></a></li>

                            </ul>
                            <span class="discount-product">-12%</span>
                        </div>
                        <div class="product-content">
                            <h4 class="product-title"><a href="shop-detail.html">Bellhop Portable Table Lamp</a></h4>
                            <div class="product-price">
                                <span class="regular-price ">€23.90</span>
                                <span class="price-sale">€21.90</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-6 col-sm-4">
                    <div class="card " id="3">
                        <div class="product-image">
                            <a href="shop-detail.html">
                                <img class="first-image"src="~/assets/img/Product/13.jpg" alt="product">
                                <img class="second-image"src="~/assets/img/Product/13-1.jpg" alt="product">
                            </a>
                            <ul class="product-meta">
                                <li><a class="btn_add"><i class="fa-solid fa-store"></i></a></li>
                                <li><a href="/shop-detail.html"><i class="fa-solid fa-magnifying-glass"></i></a></li>
                                <li><a class="btnw_add"><i class="fa-regular fa-heart"></i></a></li>
                            </ul>
                        </div>

                        <div class="product-content">
                            <h4 class="product-title"><a href="shop-detail.html">The Round Dorm</a></h4>
                            <div class="product-price">
                                <span class="regular-price ">€23.90</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-6 col-sm-4">
                    <div class="card " id="4">
                        <div class="product-image">
                            <a href="shop-detail.html">
                                <img class="first-image"src="~/assets/img/Product/20.jpg" alt="product">
                                <img class="second-image"src="~/assets/img/Product/20-1.jpg" alt="product">
                            </a>
                            <ul class="product-meta">
                                <li><a class="btn_add"><i class="fa-solid fa-store"></i></a></li>
                                <li><a href="/shop-detail.html"><i class="fa-solid fa-magnifying-glass"></i></a></li>
                                <li><a class="btnw_add"><i class="fa-regular fa-heart"></i></a></li>

                            </ul>
                            <span class="discount-product">-16%</span>
                        </div>

                        <div class="product-content">
                            <h4 class="product-title"><a href="shop-detail.html">Unika Pendant Lamp</a></h4>
                            <div class="product-price">
                                <span class="regular-price ">€23.90</span>
                                <span class="price-sale">€21.90</span>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-6 col-sm-4">
                    <div class="card " id="5">
                        <div class="product-image">
                            <a href="shop-detail.html">
                                <img class="first-image"src="~/assets/img/Product//17.jpg" alt="product">
                                <img class="second-image"src="~/assets/img/Product/17-1.jpg" alt="product">
                            </a>
                            <ul class="product-meta">
                                <li><a class="btn_add"><i class="fa-solid fa-store"></i></a></li>
                                <li><a href="/shop-detail.html"><i class="fa-solid fa-magnifying-glass"></i></a></li>
                                <li><a class="btnw_add"><i class="fa-regular fa-heart"></i></a></li>

                            </ul>
                        </div>

                        <div class="product-content">
                            <h4 class="product-title"><a href="shop-detail.html">Cotton Crewneck Sweater</a></h4>
                            <div class="product-price">
                                <span class="regular-price ">€23.90</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-6 col-sm-4">
                    <div class="card " id="6">
                        <div class="product-image">
                            <a href="shop-detail.html">
                                <img class="first-image"src="~/assets/img/Product/18.jpg" alt="product">
                                <img class="second-image"src="~/assets/img/Product/18-1.jpg" alt="product">
                            </a>
                            <ul class="product-meta">
                                <li><a class="btn_add"><i class="fa-solid fa-store"></i></a></li>
                                <li><a href="/shop-detail.html"><i class="fa-solid fa-magnifying-glass"></i></a></li>
                                <li><a class="btnw_add"><i class="fa-regular fa-heart"></i></a></li>

                            </ul>
                        </div>

                        <div class="product-content">
                            <h4 class="product-title"><a href="shop-detail.html">Unfold Pendant Lamp</a></h4>
                            <div class="product-price">
                                <span class="regular-price ">€23.90</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-6 col-sm-4">
                    <div class="card " id="7">
                        <div class="product-image">
                            <a href="shop-detail.html">
                                <img class="first-image"src="~/assets/img/Product/23.jpg" alt="product">
                                <img class="second-image"src="~/assets/img/Product/23-1.jpg" alt="product">
                            </a>
                            <ul class="product-meta">
                                <li><a class="btn_add"><i class="fa-solid fa-store"></i></a></li>
                                <li><a href="/shop-detail.html"><i class="fa-solid fa-magnifying-glass"></i></a></li>
                                <li><a class="btnw_add"><i class="fa-regular fa-heart"></i></a></li>

                            </ul>
                        </div>

                        <div class="product-content">
                            <h4 class="product-title"><a href="shop-detail.html">Upholstered Simple</a></h4>
                            <div class="product-price">
                                <span class="regular-price ">€23.90</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-6 col-sm-4">
                    <div class="card " id="8">
                        <div class="product-image">
                            <a href="shop-detail.html">
                                <img class="first-image"src="~/assets/img/Product/3.jpg" alt="product">
                                <img class="second-image"src="~/assets/img/Product/3-1.jpg" alt="product">
                            </a>
                            <ul class="product-meta">
                                <li><a class="btn_add"><i class="fa-solid fa-store"></i></a></li>
                                <li><a href="/shop-detail.html"><i class="fa-solid fa-magnifying-glass"></i></a></li>
                                <li><a class="btnw_add"><i class="fa-regular fa-heart"></i></a></li>

                            </ul>
                            <span class="discount-product">-12%</span>
                        </div>

                        <div class="product-content">
                            <h4 class="product-title"><a href="shop-detail.html">Unfold Pendant Lamp</a></h4>
                            <div class="product-price">
                                <span class="regular-price ">€23.90</span>
                                <span class="price-sale">€21.90</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section>
    <div class="testimonial">
        <div class="containerr ">
            <div class="testimonial-slider overflow-hidden">

                <div class="card">
                    <div class="info">
                        <div class="img">
                            <img src="~/assets/img/Our-team/team1.jpg" alt="testimonial">
                        </div>
                        <div class="content mt-5">
                            <p>
                                “ Congue condimentum et non eu arcu sociis aenean vivamus quisque. Porta purus urna. <br>
                                Massa id blandit enim cursus ante. Nec consectetuer imperdiet ipsum. Magnis rutrum tristique rutrum <br>
                                lobortis nulla nec hendrerit convallis suspendisse...”
                            </p>
                        </div>
                        <div class="author mt-5">
                            <h4>David Morgan</h4>
                        </div>
                        <div class="position mt-5`">
                            <h5>Chief Operating Officer</h5>
                        </div>
                    </div>

                </div>

                <div class="card">
                    <div class="info">
                        <div class="img">
                            <img src="~/assets/img/Our-team/team2.jpg" alt="testimonial">
                        </div>
                        <div class="content mt-5">
                            <p>
                                “ Congue condimentum et non eu arcu sociis aenean vivamus quisque. Porta purus urna. <br>
                                Massa id blandit enim cursus ante. Nec consectetuer imperdiet ipsum. Magnis rutrum tristique rutrum <br>
                                lobortis nulla nec hendrerit convallis suspendisse...”
                            </p>
                        </div>
                        <div class="author mt-5">
                            <h4>David Morgan</h4>
                        </div>
                        <div class="position mt-5`">
                            <h5>Chief Operating Officer</h5>
                        </div>
                    </div>

                </div>
                <div class="card">
                    <div class="info">
                        <div class="img">
                            <img src="~/assets/img/Our-team/team3.jpg" alt="testimonial">
                        </div>
                        <div class="content mt-5">
                            <p>
                                “ Congue condimentum et non eu arcu sociis aenean vivamus quisque. Porta purus urna. <br>
                                Massa id blandit enim cursus ante. Nec consectetuer imperdiet ipsum. Magnis rutrum tristique rutrum <br>
                                lobortis nulla nec hendrerit convallis suspendisse...”
                            </p>
                        </div>
                        <div class="author mt-5">
                            <h4>David Morgan</h4>
                        </div>
                        <div class="position mt-5`">
                            <h5>Chief Operating Officer</h5>
                        </div>
                    </div>

                </div>
                <div class="card">
                    <div class="info">
                        <div class="img">
                            <img src="~/assets/img/Our-team/team4.jpg" alt="testimonial">
                        </div>
                        <div class="content mt-5">
                            <p>
                                “ Congue condimentum et non eu arcu sociis aenean vivamus quisque. Porta purus urna. <br>
                                Massa id blandit enim cursus ante. Nec consectetuer imperdiet ipsum. Magnis rutrum tristique rutrum <br>
                                lobortis nulla nec hendrerit convallis suspendisse...”
                            </p>
                        </div>
                        <div class="author mt-5">
                            <h4>David Morgan</h4>
                        </div>
                        <div class="position mt-5`">
                            <h5>Chief Operating Officer</h5>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="trend-product">
        <div class="containerr">
            <div class="col-lg-12">
                <div class="all">
                    <h5 class="fw-bold">EXPLORE THE LOOKBOOK</h5>
                    <h3 class="fw-bold">TOP TRENDING PRODUCTS</h3>
                    <p>Commodo sociosqu venenatis cras dolor sagittis integer luctus maecenas.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="containerr">
        <div class="trending-slider  overflow-hidden">


            <div class="card" id="9">
                <div class="product-image">
                    <a href="shop-detail.html">
                        <img class="first-image"src="~/assets/img/Product/4.jpg" alt="product">
                        <img class="second-image"src="~/assets/img/Product/4-1.jpg" alt="product">
                    </a>
                    <ul class="product-meta">
                        <li><a href="#"><i class="fa-solid fa-store"></i></a></li>
                        <li><a href="/shop-detail.html"><i class="fa-solid fa-magnifying-glass"></i></a></li>
                        <li><a class="btnw_add"><i class="fa-regular fa-heart"></i></a></li>
                    </ul>
                    <span class="discount-product">-12%</span>
                </div>
                <div class="product-content">
                    <h4 class="product-title"><a href="shop-detail.html">Upholstered Simple</a></h4>
                    <div class="product-price">
                        <span class="regular-price ">€65.00</span>
                        <span class="price-sale">€21.90</span>

                    </div>
                </div>
            </div>


            <div class="card" id="10">
                <div class="product-image">
                    <a href="shop-detail.html">
                        <img class="first-image"src="~/assets/img/Product/12.jpg" alt="product">
                        <img class="second-image"src="~/assets/img/Product/12-1.jpg" alt="product">
                    </a>
                    <ul class="product-meta">
                        <li><a href="#"><i class="fa-solid fa-store"></i></a></li>
                        <li><a href="/shop-detail.html"><i class="fa-solid fa-magnifying-glass"></i></a></li>
                        <li><a class="btnw_add"><i class="fa-regular fa-heart"></i></a></li>

                    </ul>
                    <span class="discount-product">-12%</span>
                </div>
                <div class="product-content">
                    <h4 class="product-title"><a href="shop-detail.html">Bellhop Portable Table Lamp</a></h4>
                    <div class="product-price">
                        <span class="regular-price ">€23.90</span>
                        <span class="price-sale">€21.90</span>
                    </div>
                </div>
            </div>


            <div class="card" id="11">
                <div class="product-image">
                    <a href="shop-detail.html">
                        <img class="first-image"src="~/assets/img/Product/13.jpg" alt="product">
                        <img class="second-image"src="~/assets/img/Product/13-1.jpg" alt="product">
                    </a>
                    <ul class="product-meta">
                        <li><a href="#"><i class="fa-solid fa-store"></i></a></li>
                        <li><a href="/shop-detail.html"><i class="fa-solid fa-magnifying-glass"></i></a></li>
                        <li><a class="btnw_add"><i class="fa-regular fa-heart"></i></a></li>
                    </ul>
                </div>

                <div class="product-content">
                    <h4 class="product-title"><a href="shop-detail.html">The Round Dorm</a></h4>
                    <div class="product-price">
                        <span class="regular-price ">€23.90</span>
                    </div>
                </div>
            </div>


            <div class="card" id="12">
                <div class="product-image">
                    <a href="shop-detail.html">
                        <img class="first-image"src="~/assets/img/Product/20.jpg" alt="product">
                        <img class="second-image"src="~/assets/img/Product/20-1.jpg" alt="product">
                    </a>
                    <ul class="product-meta">
                        <li><a href="#"><i class="fa-solid fa-store"></i></a></li>
                        <li><a href="/shop-detail.html"><i class="fa-solid fa-magnifying-glass"></i></a></li>
                        <li><a class="btnw_add"><i class="fa-regular fa-heart"></i></a></li>

                    </ul>
                </div>

                <div class="product-content">
                    <h4 class="product-title"><a href="shop-detail.html">Unika Pendant Lamp</a></h4>
                    <div class="product-price">
                        <span class="regular-price ">€23.90</span>
                    </div>
                </div>
            </div>


            <div class="card" id="13">
                <div class="product-image">
                    <a href="shop-detail.html">
                        <img class="first-image"src="~/assets/img/Product//17.jpg" alt="product">
                        <img class="second-image"src="~/assets/img/Product/17-1.jpg" alt="product">
                    </a>
                    <ul class="product-meta">
                        <li><a href="#"><i class="fa-solid fa-store"></i></a></li>
                        <li><a href="/shop-detail.html"><i class="fa-solid fa-magnifying-glass"></i></a></li>
                        <li><a class="btnw_add"><i class="fa-regular fa-heart"></i></a></li>

                    </ul>
                </div>

                <div class="product-content">
                    <h4 class="product-title"><a href="shop-detail.html">Cotton Crewneck Sweater</a></h4>
                    <div class="product-price">
                        <span class="regular-price ">€23.90</span>
                    </div>
                </div>
            </div>



            <div class="card" id="14">
                <div class="product-image">
                    <a href="shop-detail.html">
                        <img class="first-image"src="~/assets/img/Product/18.jpg" alt="product">
                        <img class="second-image"src="~/assets/img/Product/18-1.jpg" alt="product">
                    </a>
                    <ul class="product-meta">
                        <li><a href="#"><i class="fa-solid fa-store"></i></a></li>
                        <li><a href="/shop-detail.html"><i class="fa-solid fa-magnifying-glass"></i></a></li>
                        <li><a class="btnw_add"><i class="fa-regular fa-heart"></i></a></li>

                    </ul>
                </div>

                <div class="product-content">
                    <h4 class="product-title"><a href="shop-detail.html">Unfold Pendant Lamp</a></h4>
                    <div class="product-price">
                        <span class="regular-price ">€23.90</span>
                    </div>
                </div>
            </div>

            <div class="card" id="15">
                <div class="product-image">
                    <a href="shop-detail.html">
                        <img class="first-image"src="~/assets/img/Product/23.jpg" alt="product">
                        <img class="second-image"src="~/assets/img/Product/23-1.jpg" alt="product">
                    </a>
                    <ul class="product-meta">
                        <li><a href="#"><i class="fa-solid fa-store"></i></a></li>
                        <li><a href="/shop-detail.html"><i class="fa-solid fa-magnifying-glass"></i></a></li>
                        <li><a class="btnw_add"><i class="fa-regular fa-heart"></i></a></li>

                    </ul>
                </div>

                <div class="product-content">
                    <h4 class="product-title"><a href="shop-detail.html">Upholstered Simple</a></h4>
                    <div class="product-price">
                        <span class="regular-price ">€23.90</span>
                    </div>
                </div>
            </div>


            <div class="card" id="16">
                <div class="product-image">
                    <a href="shop-detail.html">
                        <img class="first-image"src="~/assets/img/Product/3.jpg" alt="product">
                        <img class="second-image"src="~/assets/img/Product/3-1.jpg" alt="product">
                    </a>
                    <ul class="product-meta">
                        <li><a href="#"><i class="fa-solid fa-store"></i></a></li>
                        <li><a href="/shop-detail.html"><i class="fa-solid fa-magnifying-glass"></i></a></li>
                        <li><a class="btnw_add"><i class="fa-regular fa-heart"></i></a></li>

                    </ul>
                </div>

                <div class="product-content">
                    <h4 class="product-title"><a href="shop-detail.html">Unfold Pendant Lamp</a></h4>
                    <div class="product-price">
                        <span class="regular-price ">€23.90</span>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>



<hr>



<section>
    <div class="blog-head">
        <div class="container">
            <div class="col-lg-12">
                <div class="all text-center">
                    <h5 class="fw-bold">EXPLORE THE BLOG</h5>
                    <h3 class="fw-bold">LATEST BLOG POSTS</h3>
                    <p>Commodo sociosqu venenatis cras dolor sagittis integer luctus maecenas.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="containerr">
        <div class="blog-slider ">

            <div class="card">
                <div class="img">
                    <a href="/blog-detail.html">
                        <img src="~/assets/img/Blog/1.jpg" class="card-img-top" alt="">
                    </a>
                </div>
                <div class="card-body">
                    <span class="blog-category"><a href="" tabindex="0">Shopping</a></span>
                    <a href="/blog-detail.html"><h5 class="card-title">Transition Your Favorite Looks into Fall</h5></a>
                    <p class="card-text">It is accompanied by a case that can contain up to three different diffusers and can be used...</p>
                    <p class="blog-date">Post Date <span>August, 28 2021</span></p>
                </div>
            </div>

            <div class="card">
                <div class="img">
                    <a href="/blog-detail.html">
                        <img src="~/assets/img/Blog/12-2.jpg" class="card-img-top" alt="">
                    </a>
                </div>
                <div class="card-body">
                    <span class="blog-category"><a href="" tabindex="0">Shopping</a></span>
                    <a href="/blog-detail.html">
                        <h5 class="card-title">Perfect Quality Reasonable Price for Your</h5>
                    </a>
                    <p class="card-text">It is accompanied by a case that can contain up to three different diffusers and can be used...</p>
                    <p class="blog-date">Post Date <span>August, 28 2021</span></p>
                </div>
            </div>

            <div class="card">
                <div class="img">
                    <a href="/blog-detail.html">
                        <img src="~/assets/img/Blog/2-2-1.jpg" class="card-img-top" alt="">
                    </a>
                </div>
                <div class="card-body">
                    <span class="blog-category"><a href="" tabindex="0">Shopping</a></span>
                    <a href="/blog-detail.html">
                        <h5 class="card-title">Quality Product Never Goes Out of Style</h5>
                    </a>
                    <p class="card-text">It is accompanied by a case that can contain up to three different diffusers and can be used...</p>
                    <p class="blog-date">Post Date <span>August, 28 2021</span></p>
                </div>
            </div>

            <div class="card">
                <div class="img">
                    <a href="/blog-detail.html">
                        <img src="~/assets/img/Blog/3-2.jpg" class="card-img-top" alt="">
                    </a>
                </div>
                <div class="card-body">
                    <span class="blog-category"><a href="" tabindex="0">Shopping</a></span>
                    <a href="/blog-detail.html">
                        <h5 class="card-title">Transition Your Favorite Looks into Fall</h5>
                    </a>
                    <p class="card-text">It is accompanied by a case that can contain up to three different diffusers and can be used...</p>
                    <p class="blog-date">Post Date <span>August, 28 2021</span></p>
                </div>
            </div>

            <div class="card">
                <div class="img">
                    <a href="/blog-detail.html">
                        <img src="~/assets/img/Blog/6-3.jpg" class="card-img-top" alt="">
                    </a>
                </div>
                <div class="card-body">
                    <span class="blog-category"><a href="" tabindex="0">Shopping</a></span>
                    <a href="/blog-detail.html">
                        <h5 class="card-title">Quality Product Never Goes Out of Style</h5>
                    </a>
                    <p class="card-text">It is accompanied by a case that can contain up to three different diffusers and can be used...</p>
                    <p class="blog-date">Post Date <span>August, 28 2021</span></p>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="overflow-hidden">
    <div class="instagram">
        <div class="containerr">
            <div class="row all">

                <div class="col-lg-3 col-6">
                    <div class="img">
                        <a href="">
                            <img src="~/assets/img/Instagram/insta1.jpg" alt="">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-6">
                    <div class="img">
                        <a href="">
                            <img src="~/assets/img/Instagram/insta2.jpg" alt="">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-6">
                    <div class="img">
                        <a href="">
                            <img src="~/assets/img/Instagram/insta3.jpg" alt="">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-6">
                    <div class="img">
                        <a href="">
                            <img src="~/assets/img/Instagram/insta4.jpg" alt="">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-6">
                    <div class="img">
                        <a href="">
                            <img src="~/assets/img/Instagram/insta5.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="img">
                        <a href="">
                            <img src="~/assets/img/Instagram/insta6.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="img">
                        <a href="">
                            <img src="~/assets/img/Instagram/insta7.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="img">
                        <a href="">
                            <img src="~/assets/img/Instagram/insta1.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
